<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>First Project</title>
        <style>
            #login {
                border: 3px solid black;
                padding: 10px;
                padding-top: 0px;
                text-align: center;
                border-radius: 5px;
                margin-left: 35%;
                margin-right: 35%;
                margin-top: 10%;
                margin-bottom: 10%;
                font-size: large;
                background-color: lightblue;
            }
        </style>
    </head>
    <body>
        <form action="details" id="login">
            <h1>Welcome</h1>
            Enter Your Username here - <input type="text" name="UName" /> <br />
            <br />
            Enter You Password here - <input type="password" name="Pwd" /> <br />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>
